.menu{
    transition: transform 500ms, top 300ms, left 500ms;
    a {
        transition: background-color 300ms;
        span {
            transition: color 300ms;
        }
    }
}

#BurgerIcon{
    transition: background-color 300ms;
    i{
        transition: transform 300ms, top 300ms, left 300ms, color 300ms;
    }
}

.playable {
    transition: border-color 300ms;
}