/**
*
*
*   Global Section
*
*
*/

body, html{
    height: 100vh;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
}

/**
*
*
*   Main Menu
*
*
*/

label{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1em;
    border-radius: 100%;
    i{
        font-size: 1.5em;
        color: white;
    }
}

.menu{
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    nav{
        margin-top: 15%;
        height: 85%;

        a{
            text-decoration: none;
            background-color: darkred;
            padding: 2.5em;

            border-top: 1px solid black;
            border-bottom: 1px solid black;

            &:hover>span{
                color: orange;
            }

            span{
                color: white;
                &:hover{
                    color: orange;
                }
            
                &:focus{
                    color: red;
                }
            }
        }  
    }
}

/**
*
*
*   Main Section
*
*
*/

.main{

    header{
        
    }

    background-color: darkred;
    #bio{
        background-color: aqua;
    }

    #projets{
        background-color: orangered;
    }

    #jams{
        background-color: magenta;
    }
}

/**
*
*
*   footer Section
*
*
*/


.footer{
    background-color: brown;
    box-shadow: 0px -2px 20px 5px rgba(0,0,0,0.75);

    a{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }

    div{
        padding: 0.5em;
        width: 90%;
        div{
            width: 100%;
        }
    }

    #reseauxSociaux{
        // background-color: yellowgreen;
    }

    #contact{
        // background-color: green;
        border-bottom: 1px solid black;
    }
}