/**
*
*
*   Global Section
*
*
*/

body, html{
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


/**
*
*
*   Main Menu
*
*
*/

label{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1em;
    border-radius: 100%;
    i{
        font-size: 1.5em;
        color: white;
    }
}

#messageMobile {
    background-color: royalblue;
    color: white;
    padding: 5em 0;
}

.menu{
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100vh;
    nav{
        height: 100%;

        &>a{
            text-decoration: none;
            background-color: rgb(199, 199, 199);
            padding: 1.5em;
            width: 60%;

            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-radius: 10px;

            margin-bottom: 0.75em;
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                background-color: rgb(41, 41, 41);
                &>span{
                    color: white;
                }
            }

            &>span{
                color: black;
            
                &:focus{
                    color: red;
                }
            }
        }  
    }
}

/**
*
*
*   Main Section
*
*
*/

.main{
    
    background-color: rgb(199, 199, 199);
    #bio{
        //padding: 0.5em;
        background-color: rgb(119, 119, 119);
        color: black;
        &>header>h1{
            padding: 0.4em;
            color: white;
            background-color: rgb(51, 50, 50);
            box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
        }
        &>div{
            &>figure{
                padding: 3em 0;
                margin: 0;
                //border-bottom: 3px solid black;
                &>img{
                    width: 8em;
                    border-radius: 60px;
                    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
                }
            }

            &>div#bioDescription{
                padding: 1em;

                &>h2{
                    margin: 0.5em 0;
                }
            }
        }
    }
}

.content {
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
    z-index: 10;
    position: relative;
}

.wrapper{
    &>div{
        max-width: 100%;
        height: 15em;
        border: 3px solid black;
        overflow: hidden;
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        border-radius: 10px;

        &>figure{
            // max-width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;


            &>img{
                object-fit: cover;
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }

        &>figcaption{
            position: relative;
            top: -20%;
            background-color: rgb(51, 50, 50);
            height: 20%;
            padding: 2.5% 0;
            width: 100%;
            color: white;
            margin: 0;
            font-size: 1rem;
        }
    }

    &>div.playable{
        cursor: default;
        &:hover {
            border-color: rgb(0, 151, 13);
        }
    }
}

#projets{
    #jams{
        margin: 0.5em 0;
    }
}

/**
*
*
*   footer Section
*
*
*/


.footer{
    background-color: rgb(119, 119, 119);
    padding: 0.5em;
    color:black;
    a{
        text-decoration: none;
        color: black;
        &:visited{
            color: black;
        }
    }

    div{
        padding: 0.5em;
        width: 90%;
        div{
            width: 100%;
        }

        
    }

    #contact>p{
            margin: 0.5em 0;
    }
}

hr {
    display: block;
    position: relative;
    padding: 0;
    height: 0;
    width: 80%;
    max-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid black;
}

#hrSection{
    display: block;
    position: relative;
    padding: 0;
    height: 0;
    width: 80%;
    max-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid black;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/**
*
*
*   Medias Queries
*
*
*/

@media screen and (min-height: 500px){
    .menu>nav{
        margin-top: 2em;        
    }
}

@media screen and (min-width: 768px){
    hr{
        display: none;
    }

    #hrSection{
        display: block;
    }

    body{
        font-size: 1.5em;
    }

    .menu{
        width: 30%;
    }

    .menu>nav>a{
        padding: 1.8em;
    }

    section>header>h2{
        font-size: 3rem;
    }

    .wrapper{
        &>div{
            height: 15em;

            &>figcaption{
                font-size: 1.3rem;
            }

        }

        &>div.playable{
            cursor: pointer;
            border: 0.5em solid rgb(0,78,7);

        }
    }


}