/**
*
*
*   Main Menu
*
*
*/
.menu{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;

    nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
    }   
}

#BurgerIcon{
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    z-index: 10;
}

/**
*
*
*   Main Section
*
*
*/

#bio{
    z-index: 0;
}

#bioWrapper{
    display: grid;
    grid-template-columns: 1fr;
}

#projets, #jams{
    max-width: 100vw;
    &>header{
        padding: 0.5em 0;
    }
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

    &>div{
        margin: 1em;

        &>figure{
            width: 100%;
        }
    }
}

/**
*
*
*   footer Section
*
*
*/

.footer{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

/**
*
*
*   Medias Queries
*
*
*/

/********************************************** Tablette Écran ****************************************************/
@media screen and (min-width: 768px){
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }

    #bioWrapper{
        grid-template-columns: 1fr 2fr;
    }

    #bioDescription{
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            width: 60%;
            margin: 0 auto;
        }
    }

    .footer{
        flex-direction: row;
    }
}

/********************************************** Grand Écran ****************************************************/
@media screen and (min-width: 1200px){
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
}