#BurgerCheckbox{
    &~#BurgerIcon>i{
        transform: rotate(0deg);
    }

    &~.menu{
        transform: translateX(-100vw);
    }

    &:checked{
        &~#BurgerIcon{
            background: rgba(255, 255, 255, 0.95);
            i{
                transform: rotate(90deg);
                color: black;
            }
        }

        &~.menu{
            transform: translateX(0);
        }
    }

}